MX checks don't check for presence of A record if MX records are missing

According to RFC 5321 Section 5 if there are no MX records found then if A record for the domain exists it should be treated as an implicit MX record with a preference 0. 

Thank you, Alexey :+1: Fixed!