default REGEX_EMAIL_PATTERN is incorrect

Default REGEX_EMAIL_PATTERN  for local part of email address allows only very limited set of characters and rejects many valid email addresses. The most common example is `+` sign which is commonly used for sub-addressing, but local part of email address can include much wider range of printable characters, e.g. `!#$%&'*+-/=?^_`{|}~`. At the same time default regex allows local part of address to start with a dot `.` which is prohibited by the standard. There is also issue that quoting of local part is unsupported by the default regex. Please see RFC 5322, sec. 3.4.1 for detailed email address specification. 

:+1: Add cases with dot and ```+```. Also user can override default pattern.