MX checks can't handle CNAME records

If the domain for MX checks returns a CNAME when a request for MX records will return empty results. According to RFC 5321 Section 5 "If a CNAME record is found, the resulting name is processed as if it were the initial name".

Thank you, Alexey :+1: Fixed!