MX checks don't check if results are resolvable into A or AAAA records

When MX records are found they should be resolved too and each MX should resolve into at least one A  or AAAA record. If there is no A or AAAA records found for all MX records then MX checks should fail. See RFC 5321 Section 5 for details.

Thank you, Alexey :+1: Fixed!